<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>A</string>
		<key>logistics</key>
		<array>
			<dict>
				<key>name</key>
				<string>安信达快递</string>
			</dict>
		</array>
	</dict>
    <dict>
        <key>title</key>
        <string>C</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>超联物流</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>D</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>大田快运</string>
            </dict>
            <dict>
                <key>name</key>
                <string>德邦快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>DHL快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>迪邦宅急送</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>F</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>飞达急便速递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>飞鸿快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>飞马快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>飞天达快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>飞扬快递</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>G</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>国鑫快递</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>H</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>华运通物流</string>
            </dict>
            <dict>
                <key>name</key>
                <string>华宇物流</string>
            </dict>
            <dict>
                <key>name</key>
                <string>百世汇通</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>J</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>佳吉快运</string>
            </dict>
            <dict>
                <key>name</key>
                <string>佳加物流</string>
            </dict>
            <dict>
                <key>name</key>
                <string>捷安快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>捷森物流</string>
            </dict>
            <dict>
                <key>name</key>
                <string>京广快递</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>K</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>快捷快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>快马运输</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>L</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>联邦快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>联通快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>联邮速递</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>Q</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>勤诚快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>奇速快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>驱达国际快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>全一快运</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>S</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>申通快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>顺丰速运</string>
            </dict>
            <dict>
                <key>name</key>
                <string>顺风快递</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>T</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>天天快递</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>U</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>UPS快递</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>W</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>闻达快递</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>X</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>小红马快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>星辉快递</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>Y</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>亚风快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>阳光快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>壹时通物流</string>
            </dict>
            <dict>
                <key>name</key>
                <string>一通快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>一统快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>远顺物流</string>
            </dict>
            <dict>
                <key>name</key>
                <string>圆通速递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>越丰物流</string>
            </dict>
            <dict>
                <key>name</key>
                <string>韵达快递</string>
            </dict>
        </array>
    </dict><dict>
        <key>title</key>
        <string>Z</string>
        <key>logistics</key>
        <array>
            <dict>
                <key>name</key>
                <string>宅急送</string>
            </dict>
            <dict>
                <key>name</key>
                <string>泽龙物流</string>
            </dict>
            <dict>
                <key>name</key>
                <string>中邦速递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>中诚快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>中国速递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>中铁快运</string>
            </dict>
            <dict>
                <key>name</key>
                <string>中通快递</string>
            </dict>
            <dict>
                <key>name</key>
                <string>中外运</string>
            </dict>
            <dict>
                <key>name</key>
                <string>中驿快递</string>
            </dict>
        </array>
    </dict>
</array>
</plist>
